.header__button {
  border: none;
  background-color: #f7f7f7;
  padding: 10px 15px !important;
  font-size: 14px;
  &:hover {
    box-shadow: 0px 0px 1px 1px orangered;
    color: orangered;
    border-radius: 20px;
    background-color: rgba(orangered, 0.1);
  }
}
