/* body{
  background-color: red;
} */
p{
    margin: 0%;
  }
  h5 {
    margin: 0%;
  }
  .container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .list {
    min-width:420px;
    flex-grow: inherit;
    height: 495px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px #0000000a;
    border: 1px solid #eaedf3;
    border-radius: 4px;
    opacity: 1;
  }
  
  .item{
    border-top: 1px solid #EAEDF3;
    position: relative;
    height: 71px;
    width: auto;
    /* background-color: gray; */
  }
  .content{
    position: absolute;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 30px;
  }
  .content p {
    color:#9EA0A5;
  }
  .heading{
    font-size: 18px;
    font-weight: 600;
    height: 50px;
  }